 .u-section-1 {
  min-height: 66px;
}

.u-section-1 .u-sheet-1 {
  min-height: 628px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 10px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 618px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 26px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 0 18px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 3.75rem;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  margin: 0 27px 0 43px;
}

.u-section-1 .u-text-3 {
  margin: 9px 84px 0 80px;
}

.u-section-1 .u-text-4 {
  margin: 11px 43px 0 27px;
}

.u-section-1 .u-text-5 {
  margin: 28px 37px 0 33px;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  margin: 10px 43px 0 28px;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  margin: -33px 66px 0 378px;
}

.u-section-1 .u-text-8 {
  margin: 2px 35px 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 7px auto 0 33px;
  padding: 10px 16px 10px 15px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: -34px 0 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  width: 16px;
  height: 22px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 618px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 500px;
  height: 560px;
  margin: 16px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 684px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 684px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 36px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 18px;
    margin-left: 330px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -26px;
    margin-right: -2px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 510px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-1 {
    width: 486px;
    height: 544px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 350px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1072px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 12px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 425px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    font-size: 0.875rem;
    margin-right: 2px;
    margin-left: -2px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: -32px;
    margin-right: 0;
    margin-left: 660px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 1px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 2px;
    margin-left: 128px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -34px;
    margin-right: 90px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 617px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 223px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1156px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 28px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 552px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 200px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 24px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 564px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 13px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1101px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 5px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 703px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-btn-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.125rem;
    margin-left: 280px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 381px;
  }

  .u-section-1 .u-image-1 {
    height: 381px;
    margin-top: -33px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 88px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  font-size: 2.25rem;
  margin: 0 72px 10px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 113px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 771px;
}

.u-section-3 .u-image-1 {
  height: 761px;
  margin-top: 0;
  margin-bottom: 10px;
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-3 .u-image-1 {
    height: 585px;
    width: 770px;
    margin-bottom: 0;
    margin-left: -25px;
    margin-right: -25px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-3 .u-image-1 {
    height: 410px;
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 281px;
  }

  .u-section-3 .u-image-1 {
    width: 390px;
    left: -20px;
    right: auto;
    height: auto;
    margin: initial;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 53px;
}

.u-section-4 .u-text-1 {
  font-weight: 900;
  font-size: 2.25rem;
  margin: -2px 72px 16px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 113px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 351px;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  margin: 6px 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 339px;
}

.u-section-5 .u-container-layout-1 {
  padding: 5px 30px 9px;
}

.u-section-5 .u-image-1 {
  width: 111px;
  height: 111px;
  background-image: url("images/1.png");
  background-position: 50% 50%;
  margin: 25px auto 0;
}

.u-section-5 .u-text-1 {
  width: 104px;
  margin: 11px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 25px 1px 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 5px 30px 9px;
}

.u-section-5 .u-image-2 {
  width: 111px;
  height: 111px;
  background-image: url("images/2.png");
  background-position: 50% 50%;
  margin: 25px auto 0;
}

.u-section-5 .u-text-3 {
  width: 104px;
  margin: 11px auto 0;
}

.u-section-5 .u-text-4 {
  margin: 25px 1px 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 5px 30px 9px;
}

.u-section-5 .u-image-3 {
  width: 111px;
  height: 111px;
  background-image: url("images/3.png");
  background-position: 50% 50%;
  margin: 25px auto 0;
}

.u-section-5 .u-text-5 {
  width: 104px;
  margin: 11px auto 0;
}

.u-section-5 .u-text-6 {
  margin: 25px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 403px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 377px;
  }

  .u-section-5 .u-text-1 {
    width: 193px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    width: 193px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    width: 193px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 467px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 190px;
}

.u-section-6 .u-image-1 {
  width: 1115px;
  height: 182px;
  margin: 7px auto 1px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 162px;
  }

  .u-section-6 .u-image-1 {
    width: 940px;
    height: 154px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 126px;
  }

  .u-section-6 .u-image-1 {
    width: 720px;
    height: 118px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 97px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 89px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 64px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 56px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 49px;
}

.u-section-7 .u-text-1 {
  font-weight: 900;
  font-size: 2.25rem;
  margin: 0 72px -39px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 627px;
}

.u-section-8 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-2 {
  font-size: 0.875rem;
  margin: 7px 0 0;
}

.u-section-8 .u-text-3 {
  margin: 7px 468px 0 0;
}

.u-section-8 .u-text-4 {
  font-size: 0.875rem;
  margin: 7px 0 0;
}

.u-section-8 .u-text-5 {
  margin: 16px 128px 0 0;
}

.u-section-8 .u-text-6 {
  font-size: 0.875rem;
  margin: 20px auto 0 0;
}

.u-section-8 .u-text-7 {
  margin: 20px 128px 0 0;
}

.u-section-8 .u-text-8 {
  font-size: 0.875rem;
  margin: 20px auto 0 0;
}

.u-section-8 .u-text-9 {
  margin: 20px 128px 0 0;
}

.u-section-8 .u-text-10 {
  font-size: 0.875rem;
  margin: 20px 97px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-3 {
    margin-right: 268px;
  }

  .u-section-8 .u-text-5 {
    margin-right: 0;
  }

  .u-section-8 .u-text-7 {
    margin-right: 0;
  }

  .u-section-8 .u-text-9 {
    margin-right: 0;
  }

  .u-section-8 .u-text-10 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-3 {
    margin-right: 48px;
  }

  .u-section-8 .u-text-5 {
    margin-top: 51px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-4 {
    width: auto;
    margin-top: 127px;
  }

  .u-section-8 .u-text-5 {
    width: auto;
    margin-top: 79px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 199px;
}

.u-section-9 .u-text-1 {
  font-weight: 900;
  font-size: 2.25rem;
  margin: 7px 84px 0 60px;
}

.u-section-9 .u-text-2 {
  font-weight: 900;
  font-size: 1.875rem;
  margin: 11px 124px 0 auto;
}

.u-section-9 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 27px auto 1px;
  padding: 10px 14px 10px 13px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 225px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-right: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 232px;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 16px;
    margin-bottom: 12px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-9 .u-btn-1 {
    margin-bottom: 38px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 10px;
}